<h2>メモ作成</h2>
<form action="/memos/new" method="post">
<h3>タイトル</h3>
<input type="text" name="title">
<h3>本文</h3>
<textarea name="content"></textarea>
<br>
  <button input type="submit">作成</button>
  <button><a href="/memos">キャンセル</a></button>
</form>
